test:
  name: certificate-benchmark-test
  description: Test issuing, verifying, and revoking certificates.
  workers:
    type: local
    number: 2
  rounds:
    - label: Issue Certificates
      description: Issuing new certificates (using CreateAsset).
      txNumber: 30
      rateControl:
        type: fixed-load
        opts:
          transactionLoad: 2
      workload:
        module: workload/issueCertificate.js

    - label: Verify a Certificate
      description: Verifying certificates exist (using ReadAsset).
      txNumber: 30
      rateControl:
        type: fixed-load
        opts:
          transactionLoad: 2
      workload:
        module: workload/verifyCertificate.js

    - label: Query All Certificates
      description: Browsing all certificates (using GetAllAssets).
      txNumber:10
      rateControl:
        type: fixed-load
        opts:
          transactionLoad: 1
      workload:
        module: workload/queryAllCertificates.js

    - label: Revoke Certificate
      description: Revoking/Deleting certificates (using DeleteAsset).
      txNumber: 20
      rateControl:
        type: fixed-load
        opts:
          transactionLoad: 2
      workload:
        module: workload/revokeCertificate.js
